<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Saved Recipes</title>
	<link rel="stylesheet" href="/css/style.css">
 <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/skeleton.css">
	<script src="../js/jquery.js"></script>
  <script src="../js/script.js"></script>
</head>
<body>
<div class="container">
<h1>Saved Recipes</h1>
	<img src="{{{image}}}" class="saved_image">
	<h3>{{name}}</h3>
<a href="/recipes/{{id}}/edit" class="button">Upgrade Beverage</a><br>
<a href="/" class="button">Back to Main Menu</a>
</div>
</body>
</html>